.primary {
    color: white;
    background-color: green;
    border:none;

}

.secondary {
    background-color: chartreuse;
}

.danger{
    color: white;
    background-color: red;
    border:none;
}

.primary:hover {
    background-color: forestgreen;
}

.secondary {
    background-color: gray;
}

.success {
    background-color: blueviolet;
}