@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
    background-color: black;
    color: white;
}

a {
    float: left;
    border: 1px solid black;
    padding: 6px 8px;
    margin: 0 4px;
}